/* * {
  border: 1px solid red;
} */

body {
  background-color: #e0e0e0;
  padding: 0;
  margin: 0;
  color: #636363;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.footer__container {
  margin-top: auto;
  bottom: 0px;
}

.header__container,
.footer__container {
  color: #9c9c9c;
  background: #e0e0e0;
  box-shadow: inset 6px 6px 20px #b4b4b4, inset -6px -6px 20px #f6f6f6;
}

.header__container,
.footer__container {
  background-color: #e0e0e0;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.content__container {
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.header__flexbox,
.header__menu,
.content__flexbox,
.footer__flexbox {
  display: flex;
  flex: 1;
  margin: 8px 5rem;
  align-items: center;
  justify-content: center;
}

.content__container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.sizeValue__flexbox {
  margin-top: 0;
  margin-bottom: 2rem;
}

#sizeSlider {
  fill: #636363;
  stroke: none;
}

.header__menu button:hover {
  color: white;
  background: #a7a7a7;
}

.header__menu button:active {
  border-radius: 19px;
  color: #636363;
  background: #e0e0e0;
  box-shadow: inset 7px 7px 15px #c7c7c7, inset -7px -7px 15px #f9f9f9;
}

.header__menu input {
  color: #636363;
  height: 45px;
  width: 45px;
  border: none;
  margin: 1.5rem;
  padding: 0.5rem;
  border-radius: 11px;
  background: #e0e0e0;
  box-shadow: 7px 7px 15px #c7c7c7, -7px -7px 15px #f9f9f9;
}
.header__menu button {
  color: #636363;
  font-family: "Futura", sans-serif;
  font-weight: bold;
  border: none;
  margin: 1rem;
  padding: 1rem;
  border-radius: 19px;
  background: #e0e0e0;
  box-shadow: 7px 7px 15px #c7c7c7, -7px -7px 15px #f9f9f9;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#grid {
  display: grid;
  grid-gap: 0;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  margin: 5rem auto;

  background: #e0e0e0;
  box-shadow: 13px 13px 34px #cacaca, -13px -13px 34px #f6f6f6;
}

.grid__item {
  background-color: #e0e0e0;
  padding: 1em;
  text-align: center;
}

.footer__container {
  padding: 2rem;
}
