/* * {
  border: 1px solid red;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #e0e0e0;
  color: #636363;
  font-family: "Roboto", sans-serif;
}

button:hover,
input[type='color']:hover {
  transform: scale(0.95);
}

button {
  border: none;
  border-radius: 19px;
  margin: 1rem;
  padding: 1.1rem 1.2rem;
  background: #e0e0e0;
  color: #636363;
  box-shadow: 7px 7px 15px #c7c7c7, -7px -7px 15px #f9f9f9;
  font-family: "Futura", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
}

.header__menu input {
  border: none;
  border-radius: 11px;
  height: 45px;
  width: 45px;
  margin: 1.5rem;
  padding: 0.5rem;
  background: #e0e0e0;
  color: #636363;
  box-shadow: 7px 7px 15px #c7c7c7, -7px -7px 15px #f9f9f9;
}

.active{
  border-radius: 19px;
  color: #636363;
  background: #e0e0e0;
  box-shadow: inset 7px 7px 15px #c7c7c7, inset -7px -7px 15px #f9f9f9;
}

#clearBtn {
  padding: 1.5rem;
}

.header__container,
.footer__container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #e0e0e0;
}

.header__flexbox,
.header__menu,
.footer__flexbox {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 8px 5rem;
}

.content__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
}

.grid {
  display: grid;
  width: 500px;
  height: 500px;

}

#grid {
  grid-gap: 0;
  margin: 5rem auto;
  background: #e0e0e0;
  box-shadow: 13px 13px 34px #cacaca, -13px -13px 34px #f6f6f6;
}

.grid__item {
  background-color: #e0e0e0;
  padding: 0;
  text-align: center;
  user-select: none;
}

.sizeValue__flexbox {
  margin-top: 0;
  margin-bottom: 2rem;
}

#sizeSlider {
  fill: #636363;
  stroke: none;
  margin-top: 1rem;
}

.footer__container {
  margin-top: auto;
  bottom: 0px;
  padding: 2rem;
}

/* Make the picker a circle */
input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
}

input[type='color'] {
  -webkit-appearance: none;
  width: 57px;
  height: 60px;
  border: none;
}

input[type='range'] {
  -webkit-appearance: none;
  background-color: #9c9c9c;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  border: 1px solid var(--primary-dark);
  border-radius: 25px;
  background: #9c9c9c;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  margin-top: -8px;
  background: #636363;
}
